body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_hover {
    background-image: url('../header_files/u0_hover.png');
}

.u0_selected {
    background-image: url('../header_files/u0_hover.png');
}

.u0_original {
    background-image: url('../header_files/u0_hover.png');
}

.u0_container {
    position:absolute;
    left:230px;
    top:41px;
    width:62px;
    height:36px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:42px;
}

.u1 {
    position:absolute;
    left:2px;
    top:10px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:230px;
    top:41px;
    width:62px;
    height:36px
}

.u2_hover {
    background-image: url('../header_files/u2_hover.png');
}

.u2_selected {
    background-image: url('../header_files/u2_hover.png');
}

.u2_original {
    background-image: url('../header_files/u2_hover.png');
}

.u2_container {
    position:absolute;
    left:292px;
    top:41px;
    width:100px;
    height:36px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:292px;
    top:41px;
    width:100px;
    height:36px
}

.u4_hover {
    background-image: url('../header_files/u4_hover.png');
}

.u4_selected {
    background-image: url('../header_files/u4_hover.png');
}

.u4_original {
    background-image: url('../header_files/u4_hover.png');
}

.u4_container {
    position:absolute;
    left:490px;
    top:41px;
    width:80px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:490px;
    top:41px;
    width:80px;
    height:36px
}

.u6_hover {
    background-image: url('../header_files/u2_hover.png');
}

.u6_selected {
    background-image: url('../header_files/u2_hover.png');
}

.u6_original {
    background-image: url('../header_files/u2_hover.png');
}

.u6_container {
    position:absolute;
    left:391px;
    top:41px;
    width:100px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:391px;
    top:41px;
    width:100px;
    height:36px
}

.u8_hover {
    background-image: url('../header_files/u2_hover.png');
}

.u8_selected {
    background-image: url('../header_files/u2_hover.png');
}

.u8_original {
    background-image: url('../header_files/u2_hover.png');
}

.u8_container {
    position:absolute;
    left:570px;
    top:41px;
    width:100px;
    height:36px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:570px;
    top:41px;
    width:100px;
    height:36px
}

.u10_hover {
    background-image: url('../header_files/u10_hover.png');
}

.u10_selected {
    background-image: url('../header_files/u10_hover.png');
}

.u10_original {
    background-image: url('../header_files/u10_hover.png');
}

.u10_container {
    position:absolute;
    left:670px;
    top:41px;
    width:90px;
    height:36px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:42px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:670px;
    top:41px;
    width:90px;
    height:36px
}

.u12_hover {
    background-image: url('../header_files/u4_hover.png');
}

.u12_selected {
    background-image: url('../header_files/u4_hover.png');
}

.u12_original {
    background-image: url('../header_files/u4_hover.png');
}

.u12_container {
    position:absolute;
    left:760px;
    top:41px;
    width:80px;
    height:36px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:42px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:760px;
    top:41px;
    width:80px;
    height:36px
}

.u14_hover {
    background-image: url('../header_files/u10_hover.png');
}

.u14_selected {
    background-image: url('../header_files/u10_hover.png');
}

.u14_original {
    background-image: url('../header_files/u10_hover.png');
}

.u14_container {
    position:absolute;
    left:840px;
    top:41px;
    width:90px;
    height:36px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:42px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:840px;
    top:41px;
    width:90px;
    height:36px
}

.u16_hover {
    background-image: url('../header_files/u10_hover.png');
}

.u16_selected {
    background-image: url('../header_files/u10_hover.png');
}

.u16_original {
    background-image: url('../header_files/u10_hover.png');
}

.u16_container {
    position:absolute;
    left:930px;
    top:41px;
    width:90px;
    height:36px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:42px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:930px;
    top:41px;
    width:90px;
    height:36px
}

.u18_hover {
    background-image: url('../header_files/u2_hover.png');
}

.u18_selected {
    background-image: url('../header_files/u2_hover.png');
}

.u18_original {
    background-image: url('../header_files/u2_hover.png');
}

.u18_container {
    position:absolute;
    left:1020px;
    top:41px;
    width:100px;
    height:36px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1020px;
    top:41px;
    width:100px;
    height:36px
}

.u20_selected {
    background-image: url('../header_files/u10_hover.png');
}

.u20_original {
    background-image: url('../header_files/u10_hover.png');
}

.u20_container {
    position:absolute;
    left:1120px;
    top:41px;
    width:90px;
    height:36px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:42px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:1120px;
    top:41px;
    width:90px;
    height:36px
}

.u22_original {
    background-image: url('../header_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:9px;
    width:1440px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:0px;
    top:9px;
    width:1440px;
    height:40px
}

.u24_original {
    background-image: url('../header_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:40px
}

.u26 {
    position:absolute;
    left:710px;
    top:12px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:1040px;
    top:8px;
    width:169px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:900px;
    top:12px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_original {
    background-image: url('../header_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:887px;
    top:10px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:887px;
    top:10px;
    width:20px;
    height:20px
}

.u31_original {
    background-image: url('../header_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:1189px;
    top:12px;
    width:16px;
    height:16px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u32 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:1189px;
    top:12px;
    width:16px;
    height:16px
}

.u33_original {
    background-image: url('../header_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:230px;
    top:5px;
    width:250px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:30px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:230px;
    top:5px;
    width:250px;
    height:30px
}

.u35_line {
    background-image: url('../header_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:1015px;
    top:0px;
    width:3px;
    height:40px;
}

.u35 {
    position:absolute;
    left:1015px;
    top:0px;
    width:3px;
    height:40px
}

.u36_line {
    background-image: url('../header_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:860px;
    top:0px;
    width:3px;
    height:40px;
}

.u36 {
    position:absolute;
    left:860px;
    top:0px;
    width:3px;
    height:40px
}

.u38_original {
    background-image: url('../homeslide_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:230px;
    top:90px;
    width:650px;
    height:400px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:406px;
}

.u39 {
    position:absolute;
    left:2px;
    top:192px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:230px;
    top:90px;
    width:650px;
    height:400px
}

.u40_original {
    background-image: url('../homeslide_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:880px;
    top:90px;
    width:330px;
    height:203px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:209px;
}

.u41 {
    position:absolute;
    left:2px;
    top:94px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:880px;
    top:90px;
    width:330px;
    height:203px
}

.u42_original {
    background-image: url('../homeslide_files/u40_original.png');
}

.u42_container {
    position:absolute;
    left:880px;
    top:287px;
    width:330px;
    height:203px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:209px;
}

.u43 {
    position:absolute;
    left:2px;
    top:94px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:880px;
    top:287px;
    width:330px;
    height:203px
}

.u44_container {
    position:absolute;
    left:233px;
    top:92px;
    width:646px;
    height:396px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:646px;
    height:396px;
}

.u45 {
    position:absolute;
    left:2px;
    top:190px;
    width:642px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:233px;
    top:92px;
    width:646px;
    height:396px
}

.u46_container {
    position:absolute;
    left:881px;
    top:92px;
    width:327px;
    height:194px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:194px;
}

.u47 {
    position:absolute;
    left:2px;
    top:89px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:881px;
    top:92px;
    width:327px;
    height:194px
}

.u48_container {
    position:absolute;
    left:881px;
    top:289px;
    width:327px;
    height:199px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:199px;
}

.u49 {
    position:absolute;
    left:2px;
    top:92px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:881px;
    top:289px;
    width:327px;
    height:199px
}

.u51_line {
    background-image: url('../what_s_new_files/u51_line.png');
}

.u51_line {
    position:absolute;
    left:230px;
    top:534px;
    width:980px;
    height:3px;
}

.u51 {
    position:absolute;
    left:230px;
    top:534px;
    width:980px;
    height:3px
}

.u52 {
    position:absolute;
    left:235px;
    top:510px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:238px;
    top:544px;
    width:180px;
    height:200px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:200px;
}

.u54 {
    position:absolute;
    left:2px;
    top:92px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:238px;
    top:544px;
    width:180px;
    height:200px
}

.u55_container {
    position:absolute;
    left:434px;
    top:544px;
    width:180px;
    height:200px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:200px;
}

.u56 {
    position:absolute;
    left:2px;
    top:92px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:434px;
    top:544px;
    width:180px;
    height:200px
}

.u57_container {
    position:absolute;
    left:630px;
    top:544px;
    width:180px;
    height:200px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:200px;
}

.u58 {
    position:absolute;
    left:2px;
    top:92px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:630px;
    top:544px;
    width:180px;
    height:200px
}

.u59_container {
    position:absolute;
    left:826px;
    top:544px;
    width:180px;
    height:200px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:200px;
}

.u60 {
    position:absolute;
    left:2px;
    top:92px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:826px;
    top:544px;
    width:180px;
    height:200px
}

.u61_container {
    position:absolute;
    left:1022px;
    top:544px;
    width:180px;
    height:200px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:200px;
}

.u62 {
    position:absolute;
    left:2px;
    top:92px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1022px;
    top:544px;
    width:180px;
    height:200px
}

.u63 {
    position:absolute;
    left:230px;
    top:760px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:426px;
    top:760px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:622px;
    top:760px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:818px;
    top:760px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:1014px;
    top:760px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:230px;
    top:784px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:426px;
    top:784px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:622px;
    top:784px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:818px;
    top:784px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:1014px;
    top:784px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1058px;
    top:511px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_original {
    background-image: url('../featured_cates_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:230px;
    top:820px;
    width:980px;
    height:420px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:426px;
}

.u76 {
    position:absolute;
    left:2px;
    top:202px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:230px;
    top:820px;
    width:980px;
    height:420px
}

.u77_original {
    background-image: url('../featured_cates_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:238px;
    top:851px;
    width:180px;
    height:59px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u78 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:238px;
    top:851px;
    width:180px;
    height:59px
}

.u79 {
    position:absolute;
    left:240px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:240px;
    top:917px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:240px;
    top:938px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:240px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:240px;
    top:979px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:240px;
    top:1000px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_original {
    background-image: url('../featured_cates_files/u85_original.png');
}

.u85_container {
    position:absolute;
    left:435px;
    top:851px;
    width:180px;
    height:59px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u86 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:435px;
    top:851px;
    width:180px;
    height:59px
}

.u87 {
    position:absolute;
    left:437px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:437px;
    top:917px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:437px;
    top:938px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:437px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:437px;
    top:979px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:437px;
    top:1000px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_original {
    background-image: url('../featured_cates_files/u93_original.png');
}

.u93_container {
    position:absolute;
    left:631px;
    top:851px;
    width:180px;
    height:59px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u94 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:631px;
    top:851px;
    width:180px;
    height:59px
}

.u95 {
    position:absolute;
    left:633px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:633px;
    top:917px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:633px;
    top:938px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:633px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:633px;
    top:979px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:633px;
    top:1000px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_original {
    background-image: url('../featured_cates_files/u101_original.png');
}

.u101_container {
    position:absolute;
    left:828px;
    top:851px;
    width:180px;
    height:59px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u102 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:828px;
    top:851px;
    width:180px;
    height:59px
}

.u103 {
    position:absolute;
    left:830px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:830px;
    top:917px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:830px;
    top:938px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:830px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:830px;
    top:979px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:830px;
    top:1000px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_original {
    background-image: url('../featured_cates_files/u109_original.png');
}

.u109_container {
    position:absolute;
    left:238px;
    top:1065px;
    width:180px;
    height:59px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u110 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:238px;
    top:1065px;
    width:180px;
    height:59px
}

.u111 {
    position:absolute;
    left:240px;
    top:1042px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:240px;
    top:1131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:240px;
    top:1152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:240px;
    top:1173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:240px;
    top:1193px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:240px;
    top:1214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_original {
    background-image: url('../featured_cates_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:435px;
    top:1065px;
    width:180px;
    height:59px;
}

#u117_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u118 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:435px;
    top:1065px;
    width:180px;
    height:59px
}

.u119 {
    position:absolute;
    left:437px;
    top:1042px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:437px;
    top:1131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:437px;
    top:1152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:437px;
    top:1173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:437px;
    top:1193px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:437px;
    top:1214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_original {
    background-image: url('../featured_cates_files/u125_original.png');
}

.u125_container {
    position:absolute;
    left:631px;
    top:1065px;
    width:180px;
    height:59px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u126 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:631px;
    top:1065px;
    width:180px;
    height:59px
}

.u127 {
    position:absolute;
    left:633px;
    top:1042px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:633px;
    top:1131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:633px;
    top:1152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:633px;
    top:1173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:633px;
    top:1193px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:633px;
    top:1214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_original {
    background-image: url('../featured_cates_files/u133_original.png');
}

.u133_container {
    position:absolute;
    left:828px;
    top:1065px;
    width:180px;
    height:59px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u134 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:828px;
    top:1065px;
    width:180px;
    height:59px
}

.u135 {
    position:absolute;
    left:830px;
    top:1042px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:830px;
    top:1131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:830px;
    top:1152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:830px;
    top:1173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:830px;
    top:1193px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:830px;
    top:1214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_line {
    background-image: url('../featured_cates_files/u141_line.png');
}

.u141_line {
    position:absolute;
    left:424px;
    top:850px;
    width:3px;
    height:374px;
}

.u141 {
    position:absolute;
    left:424px;
    top:850px;
    width:3px;
    height:374px
}

.u142_line {
    background-image: url('../featured_cates_files/u142_line.png');
}

.u142_line {
    position:absolute;
    left:621px;
    top:850px;
    width:3px;
    height:374px;
}

.u142 {
    position:absolute;
    left:621px;
    top:850px;
    width:3px;
    height:374px
}

.u143_line {
    background-image: url('../featured_cates_files/u143_line.png');
}

.u143_line {
    position:absolute;
    left:817px;
    top:850px;
    width:3px;
    height:374px;
}

.u143 {
    position:absolute;
    left:817px;
    top:850px;
    width:3px;
    height:374px
}

.u144_original {
    background-image: url('../featured_cates_files/u101_original.png');
}

.u144_container {
    position:absolute;
    left:1030px;
    top:851px;
    width:180px;
    height:59px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u145 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:1030px;
    top:851px;
    width:180px;
    height:59px
}

.u146 {
    position:absolute;
    left:1032px;
    top:828px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:1032px;
    top:917px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:1032px;
    top:938px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:1032px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:1032px;
    top:979px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:1032px;
    top:1000px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_original {
    background-image: url('../featured_cates_files/u133_original.png');
}

.u152_container {
    position:absolute;
    left:1030px;
    top:1065px;
    width:180px;
    height:59px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:59px;
}

.u153 {
    position:absolute;
    left:2px;
    top:22px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:1030px;
    top:1065px;
    width:180px;
    height:59px
}

.u154 {
    position:absolute;
    left:1032px;
    top:1042px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:1032px;
    top:1131px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:1032px;
    top:1152px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:1032px;
    top:1173px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:1032px;
    top:1193px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:1032px;
    top:1214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_line {
    background-image: url('../featured_cates_files/u160_line.png');
}

.u160_line {
    position:absolute;
    left:1019px;
    top:850px;
    width:3px;
    height:374px;
}

.u160 {
    position:absolute;
    left:1019px;
    top:850px;
    width:3px;
    height:374px
}

.u162_line {
    background-image: url('../footer_files/u162_line.png');
}

.u162_line {
    position:absolute;
    left:230px;
    top:1271px;
    width:980px;
    height:3px;
}

.u162 {
    position:absolute;
    left:230px;
    top:1271px;
    width:980px;
    height:3px
}

.u163_original {
    background-image: url('../footer_files/u163_original.png');
}

.u163_container {
    position:absolute;
    left:240px;
    top:1250px;
    width:100px;
    height:20px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:240px;
    top:1250px;
    width:100px;
    height:20px
}

.u165_line {
    background-image: url('../footer_files/u165_line.png');
}

.u165_line {
    position:absolute;
    left:424px;
    top:1307px;
    width:3px;
    height:140px;
}

.u165 {
    position:absolute;
    left:424px;
    top:1307px;
    width:3px;
    height:140px
}

.u166_line {
    background-image: url('../footer_files/u166_line.png');
}

.u166_line {
    position:absolute;
    left:620px;
    top:1307px;
    width:3px;
    height:140px;
}

.u166 {
    position:absolute;
    left:620px;
    top:1307px;
    width:3px;
    height:140px
}

.u167_line {
    background-image: url('../footer_files/u167_line.png');
}

.u167_line {
    position:absolute;
    left:817px;
    top:1307px;
    width:3px;
    height:140px;
}

.u167 {
    position:absolute;
    left:817px;
    top:1307px;
    width:3px;
    height:140px
}

.u168_line {
    background-image: url('../footer_files/u168_line.png');
}

.u168_line {
    position:absolute;
    left:1013px;
    top:1307px;
    width:3px;
    height:140px;
}

.u168 {
    position:absolute;
    left:1013px;
    top:1307px;
    width:3px;
    height:140px
}

.u169 {
    position:absolute;
    left:240px;
    top:1283px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:436px;
    top:1283px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:632px;
    top:1283px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:829px;
    top:1283px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:1025px;
    top:1283px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_line {
    background-image: url('../footer_files/u174_line.png');
}

.u174_line {
    position:absolute;
    left:230px;
    top:1451px;
    width:980px;
    height:3px;
}

.u174 {
    position:absolute;
    left:230px;
    top:1451px;
    width:980px;
    height:3px
}

.u175 {
    position:absolute;
    left:230px;
    top:1467px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:230px;
    top:1493px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:1026px;
    top:1309px;
    width:176px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:1026px;
    top:1407px;
    width:174px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u179_original {
    background-image: url('../footer_files/u179_original.png');
}

.u179_container {
    position:absolute;
    left:1130px;
    top:1407px;
    width:70px;
    height:25px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:31px;
}

.u180 {
    position:absolute;
    left:2px;
    top:4px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:1130px;
    top:1407px;
    width:70px;
    height:25px
}

.u181 {
    position:absolute;
    left:829px;
    top:1311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:829px;
    top:1336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:829px;
    top:1362px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:436px;
    top:1311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:436px;
    top:1336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:436px;
    top:1362px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:436px;
    top:1387px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:632px;
    top:1311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:632px;
    top:1336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:632px;
    top:1362px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:632px;
    top:1387px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:240px;
    top:1311px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:240px;
    top:1336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:240px;
    top:1362px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:240px;
    top:1387px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

