body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
    position: relative;
    left: -0px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../footer-simple_files/u34_line.png');
}

.u0_line {
    position:absolute;
    left:230px;
    top:404px;
    width:980px;
    height:3px;
}

.u0 {
    position:absolute;
    left:230px;
    top:404px;
    width:980px;
    height:3px
}

.u1 {
    position:absolute;
    left:230px;
    top:420px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:230px;
    top:446px;
    width:980px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_original {
    background-image: url('../header-simple_files/u60_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:9px;
    width:1440px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:9px;
    width:1440px;
    height:40px
}

.u6_original {
    background-image: url('../header-simple_files/u62_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1446px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:1436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:1440px;
    height:40px
}

.u8 {
    position:absolute;
    left:710px;
    top:12px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:1040px;
    top:8px;
    width:169px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:900px;
    top:12px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_original {
    background-image: url('../header-simple_files/u67_original.png');
}

.u11_container {
    position:absolute;
    left:887px;
    top:10px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:887px;
    top:10px;
    width:20px;
    height:20px
}

.u13_original {
    background-image: url('../header-simple_files/u69_original.png');
}

.u13_container {
    position:absolute;
    left:1189px;
    top:12px;
    width:16px;
    height:16px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u14 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:1189px;
    top:12px;
    width:16px;
    height:16px
}

.u15_original {
    background-image: url('../header-simple_files/u71_original.png');
}

.u15_container {
    position:absolute;
    left:230px;
    top:5px;
    width:250px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:30px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:230px;
    top:5px;
    width:250px;
    height:30px
}

.u17_line {
    background-image: url('../header-simple_files/u73_line.png');
}

.u17_line {
    position:absolute;
    left:1015px;
    top:0px;
    width:3px;
    height:40px;
}

.u17 {
    position:absolute;
    left:1015px;
    top:0px;
    width:3px;
    height:40px
}

.u18_line {
    background-image: url('../header-simple_files/u74_line.png');
}

.u18_line {
    position:absolute;
    left:860px;
    top:0px;
    width:3px;
    height:40px;
}

.u18 {
    position:absolute;
    left:860px;
    top:0px;
    width:3px;
    height:40px
}

.u20_original {
    background-image: url('../forgot_password_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:395px;
    top:163px;
    width:650px;
    height:147px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:153px;
}

.u21 {
    position:absolute;
    left:2px;
    top:66px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:395px;
    top:163px;
    width:650px;
    height:147px
}

.u22_original {
    background-image: url('../forgot_password_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:395px;
    top:308px;
    width:650px;
    height:54px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:60px;
}

.u23 {
    position:absolute;
    left:2px;
    top:19px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:395px;
    top:308px;
    width:650px;
    height:54px
}

.u24_original {
    background-image: url('../forgot_password_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:395px;
    top:100px;
    width:650px;
    height:65px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:656px;
    height:71px;
}

.u25 {
    position:absolute;
    left:2px;
    top:24px;
    width:646px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:395px;
    top:100px;
    width:650px;
    height:65px
}

.u26_original {
    background-image: url('../forgot_password_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:605px;
    top:317px;
    width:280px;
    height:36px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:42px;
}

.u27 {
    position:absolute;
    left:2px;
    top:9px;
    width:276px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:605px;
    top:317px;
    width:280px;
    height:36px
}

.u28 {
    position:absolute;
    left:415px;
    top:251px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:605px;
    top:248px;
    width:405px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:415px;
    top:124px;
    width:325px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:415px;
    top:188px;
    width:610px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

